services:
  game-server:
    build:
      context: .
      dockerfile: server/Dockerfile
    environment:
      - PORT=8080
    ports:
      - "8080:8080"
    restart: unless-stopped

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    depends_on:
      - game-server
    ports:
      - "8088:80"
    restart: unless-stopped

