services:
  game-server:
    build:
      context: .
      dockerfile: server/Dockerfile
    environment:
      - PORT=8080
    networks:
      - internal
    restart: unless-stopped

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    depends_on:
      - game-server
    networks:
      - internal
    restart: unless-stopped

  loadbalancer:
    build:
      context: .
      dockerfile: loadbalancer/Dockerfile
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    name: blob_internal
    driver: bridge

